.fill-date
	container()
	display block
	margin-top 85px

.fill-date__field
	align-items flex-end
	field-text--jobform()
	.field-text
		&__input-wrap
			width 206px
			flex-grow 0
		&__name
			margin-right 15px
			color #2f1b15
			font-family 'PT Sans'
			font-size rem(22px)
			font-weight 700
			line-height 1
			vertical-align bottom

