.about
	container()
	display block
	margin-bottom 15px
	&__title
		color #2f1b15
		margin-bottom 0

.about__field
	margin-top 20px
	display flex
	flex-direction column
	flex-wrap wrap
	align-content space-between
	height 275px
	.field-checkbox
		&__input-wrap
			width 33%
			margin-bottom 3px
			flex-shrink 0
		&__input
			display none
			position relative
		&__input:checked ~ .field-checkbox__name-text::before
			sprite($icon_checkbox_checked);
		&__name-text
			position relative
			display flex
			align-items flex-start
			color #000000
			font-family "PT Sans"
			font-size rem(21px)
			font-weight 700
			line-height rem(25px)
			span
				display inline-block
				margin-top 7px
			&::before
				content ''
				display inline-block
				width 24px
				height 28px
				margin-right 3px
				sprite($icon_checkbox);
			&::selection
				background-color transparent
