.about
	container()
	margin-bottom 15px
	display block
	&__title
		margin-bottom 0
		color #2f1b15

.about__field
	margin-top 20px
	display flex
	flex-direction column
	flex-wrap wrap
	align-content space-between
	height 275px
	.field-checkbox
		&__input-wrap
			margin-bottom 3px
			width 33%
			flex-shrink 0
		&__input
			position relative
			display none
		&__input:checked ~ .field-checkbox__name-text::before
			sprite($icon_checkbox_checked)
		&__name-text
			position relative
			display flex
			align-items flex-start
			font-family 'PT Sans'
			font-size rem(21px)
			font-weight 700
			line-height rem(25px)
			color #000000
			span
				margin-top 7px
				display inline-block
			&::before
				margin-right 3px
				display inline-block
				width 24px
				height 28px
				content ''
				sprite($icon_checkbox)
			&::selection
				background-color transparent
