@font-face
    font-family 'PT Sans'
    src: url('/assets/fonts/pts55f.woff2') format('woff2'),
         url('/assets/fonts/pts55f.woff') format('woff'),
         url('/assets/fonts/PTS55F.ttf')  format('truetype')
    font-weight 400
    font-style normal

@font-face
    font-family 'PT Sans'
    src: url('/assets/fonts/pts75f.woff2') format('woff2'),
         url('/assets/fonts/pts75f.woff') format('woff'),
         url('/assets/fonts/PTS75F.ttf')  format('truetype')
    font-weight 700
    font-style normal

@font-face
    font-family 'Courier New'
    src: url('/assets/fonts/cour.woff2') format('woff2'),
         url('/assets/fonts/cour.woff') format('woff'),
         url('/assets/fonts/cour.ttf')  format('truetype')
    font-weight 400
    font-style normal

