.page--jobform
	background-color #797979
	.page__inner
		margin-right auto
		margin-left auto
		padding-bottom 65px
		width 1000px
		background-image url('../../images/stamp.png'), url('../../images/page-bg.png')
		background-repeat no-repeat, repeat
		background-position top 48px right 54px
