.page
    background-color #797979
.page__inner
    width 1000px
    margin-right auto
    margin-left auto
    padding-bottom 65px
    background-image url('../images/stamp.png'),
                     url('../images/page-bg.png')
    background-repeat no-repeat,
                      repeat
    background-position top 58px right 54px
.page__container
    width 774px
    margin-right auto
    margin-left auto
