mixin page-header()
    header.page-header
        .page-header__logo-wrapper
            +logo('https://csssr.com/ru', 'page-header__logo')
        .page-header__title-wrapper
            h1.page-header__title Дело
                img(src='assets/images/case.png', alt='Дело', width='221', height='118')

