include /blocks/field-text/field-text

mixin info()
	section.info
		+field-text({
					title: 'Полное ФИО',
					classes: 'info__field',
					val: 'Соловьёва Майя Валентиновна'
					})
		+field-text({
					title: 'Год рождения',
					classes: 'info__field',
					val: '1981'
					})
		+field-text({
					title: 'Место жительства',
					classes: 'info__field',
					val: 'г. Зеленоград, Россия'
					})
		+field-text({
					title: 'Скайп',
					classes: 'info__field',
					val: 'maya.soloveva'
					})
		+field-text({
					title: 'Почта',
					classes: 'info__field',
					val: 'maya.soloveva2015@ya.ru'
					})
		block
