.info
	container()
	margin-top 45px
	margin-bottom 55px
	display block

.info__field
	field-text--jobform()
	margin-bottom 13px
	display flex
	align-items flex-end
	font-family font-family--headings
	font-size rem(22px)
	font-weight 700
	line-height rem(49.83px)
	color #2f1b15
	.field-text__name
		margin-right 15px
		line-height rem(22px)



