include /blocks/field-text/field-text

mixin info()
	section.info
		+field-text({
					title: 'Полное ФИО',
					classes: 'info__field',
					val: 'Иванов Иван Иванович'
					})
		+field-text({
					title: 'Год рождения',
					classes: 'info__field',
					val: '1990'
					})
		+field-text({
					title: 'Место жительства',
					classes: 'info__field',
					val: 'г. Иваново, Россия'
					})
		+field-text({
					title: 'Скайп',
					classes: 'info__field',
					val: 'ivanov'
					})
		+field-text({
					title: 'Почта',
					classes: 'info__field',
					val: 'ivanov@gmail.com'
					})
		block
