.info
	container()
	display block
	margin-top 45px
	margin-bottom 55px

.info__field
	field-text--jobform()
	display flex
	margin-bottom 13px
	font-family font-family--headings
	color #2f1b15
	font-size rem(22px)
	font-weight 700
	line-height rem(49.83px)
	align-items flex-end
	.field-text__name
		margin-right 15px
		line-height rem(22px)



