.range
	position relative
	margin-top 30px
	display block
	height 3px
	&::after
		position absolute
		right 0
		left 0
		margin-right 8px
		margin-left 8px
		height 3px
		content ''
		background-image url('../../images/input-bottom-bg.png')
		background-repeat repeat
	&__button
		position absolute
		left 0
		bottom 100%
		margin-bottom 5px
		font-size 0
		cursor pointer
.range__dots
	position absolute
	right 0
	left 0
.dots-range__item--start,
.dots-range__item--end
	position absolute
	top 1px
	width 3px
	height 25px
	background-image url('../../images/dot-edge.png')
	background-repeat no-repeat
.dots-range__item--start
	left 7px
	.dot-range__title
		left 0
.dots-range__item--end
	right 7px
	.dots-range__title
		right 0
		text-align right
.dots-range__item--middle
	position absolute
	top 1px
	width 3px
	height 11px
	background-image url('../../images/dot-middle.png')
	background-repeat no-repeat
	.dot-range__title
		left 0
		display inline-block
.dots-range__title
	position absolute
	top 25px
	width 196px
	font-family 'PT Sans'
	font-size rem(13px)
	font-weight 700
	line-height rem(19px)
	cursor pointer
	color #2f1b15
