.range
	display block
	position relative
	height 3px
	margin-top 30px
	outline 1px solid red
	&::after
		content ''
		position absolute
		right 0
		left 0
		height 3px
		//outline 1px solid orange
		background-image url('/assets/images/input-bottom-bg.png')
		background-repeat repeat
		margin-right 8px
		margin-left 8px
	&__button
		font-size 0
		position absolute
		bottom 100%
		margin-bottom 5px
		left 0
		outline 1px solid green
.range__dots
	position absolute
	right 0
	left 0
	outline 1px solid green
.dots-range__item--start,
.dots-range__item--end
	position absolute
	top 1px
	height 25px
	width 3px
	background-image url('/assets/images/dot-edge.png')
	background-repeat no-repeat
.dots-range__item--start
	left 7px
	.dot-range__title
		left 0
.dots-range__item--end
	right 7px
	.dots-range__title
		right 0
		text-align right
.dots-range__item--middle
	position absolute
	top 1px
	width 3px
	height 11px
	background-image url('/assets/images/dot-middle.png')
	background-repeat no-repeat
	.dot-range__title
		display inline-block
		left 0
.dots-range__title
	position absolute
	top 25px
	color: #2f1b15;
	font-family: 'PT Sans';
	font-size: rem(13px);
	font-weight: 700;
	line-height: rem(19px);
	width 196px

