mixin field-checkbox(checkboxes, title)
	.field-checkbox&attributes(attributes)
		if!(typeof title === 'undefined')
			.field-checkbox__title!= title
		each checkbox in checkboxes
			-
				if(typeof checkbox.classes === 'undefined')
					checkbox.classes = ''
			-
				if(typeof checkbox.attrs === 'undefined')
					checkbox.attrs = {}
			-
				if(typeof checkbox.title === 'undefined')
					checkbox.title = ''

			.field-checkbox__input-wrap(class=checkbox.classes)
				label.field-checkbox__name
					input.field-checkbox__input(type='checkbox')&attributes(checkbox.attrs)
					span.field-checkbox__name-text
						span!= checkbox.title
